<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/maps"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-container">
    <div id="mapedit" style="height: 400px; border-radius: 15px;"></div>
  </div>

  <div class="input-card">
    <ion-item lines="none">
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Enter location name"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Coordinates</ion-label>
      <ion-input [(ngModel)]="coordinates" placeholder="Enter coordinates"></ion-input>
      <ion-icon name="location-outline" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-button (click)="save()" expand="block" shape="round" class="save-button">
      Save
    </ion-button>
  </div>
</ion-content>
