<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Film
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>The Godfather</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Shawshank Redemption</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pulp Fiction</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Dark Knight</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Parasite</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Inception</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Star Wars: The Empire Strikes Back</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Matrix</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Spirited Away</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>City of God</ion-label>
  </ion-item>
</ion-list>
</ion-content>
