.splash-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #2468df;
}

.logo {
  margin-bottom: 20px;
  font-size: 80px;
}
